th {
    width: 50px;
}

.buttonHead {
    width: 50%;
    background-color: rgb(150, 70, 66);
}

.buttonHead2 {
    width: 50%;
    background-color: rgb(130, 130, 57);
}

#TandF {
    width: 70%;
}

#buttonId {
    margin-left: 13px;
    padding-left: 13px;
}

#editForm {
    background-color: rgb(177, 199, 191);
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 15px;
}

#editDiv {
    bottom: 40%;
}